# Copy to .env for local development
# The following values should be changed for obvious security reasons
POSTGRES_USER=user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=prestint
DATABASE_URL=postgresql+psycopg://user:change-me@db:5432/prestint
OTP_SECRET=<python -c "import secrets; print(secrets.token_hex(32))">
# Any non-empty value enables /docs, /redoc and /openapi.json
DEV_DOCS=1

# Uncomment this for dev purposes
# COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml
